<h1>Labs Reports</h1>
<%= link_to '<button type="button">Add report</button>'.html_safe, new_lab_report_path %>

<% @lab_reports.each do |report| %>
  <h2><%= report.title %></h2>

  <p>
    <% user = @users.find {|e| e.id == report.user_id}  %>
  <small>User: <%= user.firstName %> <%= user.lastName %> (<%= user.email %>)</small>
  </p>

  <p>
    <%= report.description %>
  </p>

  <p>Mark: <%= report.grade %></p>

  <%= link_to '<button type="button">Add mark</button>'.html_safe, edit_lab_report_path(report) %>
  <%= link_to '<button type="button">Remove</button>'.html_safe, lab_report_path(report), data: {method: :delete, confirm: 'Are you sure?' } %>
<% end %>